body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align:center;
}

.pink{
    color:rgb(255,192,203);
}

.blue{
    color:skyblue;
}

h1{   
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:2rem;
  letter-spacing:1.2em;
  text-shadow:3px 3px 6px rgba(0,0,0,0,3);
  border-bottom: 3px solid rgb(115,115,114);
  padding-bottom: 10px;
}

#basic p{
    font-weight:bold;
}